<div class="section">
    <div class="left">
      <div class="heading">
        <div class="label-green">POST</div>
        <h2>Create a new entry</h2>
      </div>
      <p class="p-text">Create a new entry.</p>
      <div class="examples">
        <div class="heading"><span>Examples</span></div>
        <div class="example">
          <div class="example-request">
            <p class="p-text">Request body</p>
            <div>
              <span class="label-purple-wo-border">entry</span>
              <p class="p-text">Entry properties</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right"></div>
  </div>