<div class="section">
  <div class="left">
    <h1>Entry</h1>
    <p class="p-preview-text">The Entry resource lets you update and create entries in a project.</p>
  </div>
  <div class="right">
    <div class="endpoints-wrapper">
      <div class="heading"># Endpoints</div>
      <ul class="endpoints">
        <li class="endpoint">
          <div class="url">
            <div class="label-green">POST</div>
            <div class="path green"><wbr>/{{version}}<wbr>/entries/{stucture_code}.json</div>
          </div>
          <div class="text"># Create a new entry</div>
        </li>
        <li class="endpoint">
          <div class="url">
            <div class="label-purple">GET</div>
            <div class="path purple">/{{version}}/entries/{stucture_code}.json?<wbr>since_id=65171d36679f7ee3594b1939</div>
          </div>
          <div class="text"># Retrieve a list of entries</div>
        </li>
        <li class="endpoint">
          <div class="url">
            <div class="label-purple">GET</div>
            <div class="path purple">/{{version}}/entries/{stucture_code}/count.json</div>
          </div>
          <div class="text"># Retrieve a count of entries</div>
        </li> 
      </ul>
    </div>
  </div>
</div>