<div class="section">
  <div class="left">
    <div class="heading">
      <div class="label-purple">GET</div>
      <h2>Retrieve a list of entries</h2>
    </div>
    <p class="p-text">Retrieve a list of entries.</p>
    <div class="properties-heading"><span>Parameters</span></div>
    <div class="list">
      <div class="item">
        <div class="item-prop">
          <span class="prop">fields</span>
        </div>
        <div><p class="p-text">Return only certain fields specified by a comma-separated list of field names.</p></div>
        <hr />
      </div>
      <div class="item">
        <div class="item-prop">
          <span class="prop">ids</span>
        </div>
        <div><p class="p-text">Return only entries specified by a comma-separated list of entry IDs.</p></div>
        <hr />
      </div>
      <div class="item">
        <div class="item-prop">
          <span class="prop">limits</span>
          <span class="label plain">≤ 250 default 50</span> 
        </div>
        <div><p class="p-text">Return up to this many results per page.</p></div>
        <hr />
      </div>
      <div class="item">
        <div class="item-prop">
          <span class="prop">since_id</span>
        </div>
        <div><p class="p-text">Return only entries after the specified ID.</p></div>
        <hr />
      </div>
    </div>
  </div>
  <div class="right"></div>
</div>