<div class="section">
  <div class="left">
    <div class="heading">
      <div class="label-purple">GET</div>
      <h2>Retrieve a count of entries</h2>
    </div>
    <p class="p-text">Retrieve a count of entries.</p>
  </div>
  <div class="right"></div>
</div>