<div class="section">
  <div class="left">
    <h1>Menu</h1>
    <p class="p-preview-text">The Menu resource lets you update and create menus in a project.</p>
  </div>
  <div class="right">
    <div class="endpoints-wrapper">
      <div class="heading"># Endpoints</div>
      <ul class="endpoints">
        <li class="endpoint">
          <div class="url">
            <div class="label-purple">GET</div>
            <div class="path purple">/{{version}}/menus/{handle}.json?<wbr>depth_level=3</div>
          </div>
          <div class="text"># Retrieve a list of menus</div>
        </li>
      </ul>
    </div>
  </div>
</div>