<div class="section">
  <div class="left">
    <div class="heading">
      <div class="label-purple">GET</div>
      <h2>Retrieve a list of menus</h2>
    </div>
    <p class="p-text">Retrieve a list of menus.</p>
    <div class="properties-heading"><span>Parameters</span></div>
    <div class="list">
      <div class="item">
        <div class="item-prop">
          <span class="prop">depth_level</span>
        </div>
        <div><p class="p-text">Return nested menus.</p></div>
        <hr />
      </div>
      <div class="item">
        <div class="item-prop">
          <span class="prop">ids</span>
        </div>
        <div><p class="p-text">Return only menus specified by a comma-separated list of menus IDs.</p></div>
        <hr />
      </div>
    </div>
  </div>
  <div class="right"></div>
</div>