<div class="section">
    <div class="left">
      <h2>The Menu resource</h2>
      <div class="properties-heading"><span>Properties</span></div>
      <div class="list">
        <div class="item">
          <div class="item-prop"><span class="prop">id</span> <span class="label">string</span> <span class="label plain">read-only</span></div>
          <hr />
        </div>
        <div class="item">
          <div class="item-prop">
            <span class="prop">created_at</span> 
            <span class="label">date</span> 
            <span class="label plain plain-underline">ISO 8601</span> 
            <span class="label plain">read-only</span>
          </div>
          <p class="p-text">The date and time (ISO 8601 format) when the entry was created.</p>
          <hr />
        </div>
        <div class="item">
          <div class="item-prop">
            <span class="prop">updated_at</span> 
            <span class="label">date</span> 
            <span class="label plain plain-underline">ISO 8601</span> 
            <span class="label plain">read-only</span>
          </div>
          <p class="p-text">The date and time (ISO 8601 format) when the entry was last modified.</p>
          <hr />
        </div>
        <div class="item">
          <div class="item-prop">
            <span class="prop">items</span>
          </div>
          <p class="p-text">The object of custom keys.</p>
          <hr />
        </div>
      </div>
    </div>
    <div class="right">
      <div class="response">

      </div>
    </div>
</div>